<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All our Books</title>
</head>

<body>
    <main>
       <!-- Create a Form that sends its data to /book/add -->
        <h1>Add a new book</h1>
        <form action="/book/add" method="POST">
            <label for="isbn">ISBN:</label><br>
            <input type="text" id="isbn" name="isbn"><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>

</html> 