<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All our Books</title>
</head>

<body>
    <main>
        <h1>Book {%isbn%}</h1>
			<p><strong>Titel:</strong>{%title%}</p>
			<p><strong>Autor:</strong>{%author%}</p>
			<p><strong>Beschreibung:</strong>{%description%}</p>
			<a href="/">Back</a>
    </main>
</body>

</html> 